language: php

php:
  - 5.4
  - 5.5
  - 5.6

services:
  - redis-server

before_script:
 - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
 - composer self-update
 - composer update

script:
  - phpunit --bootstrap vendor/autoload.php tests/
